<section>
    <h1>Produtos do carrinho: </h1>
        <article>
            <header>
                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Nome produto</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Quantidade</th>
                      </tr>
                    </thead>
                    {% for car in carrinho %}
                      <tbody>
                        <tr>
                          <th scope="row">{{car.nome_produto}}</th>
                          <th scope="row">{{car.categoria}}</th>
                          <th scope="row">R$ {{car.preco_produto}}</th>
                          <th scope="row">{{car.qtd_produto}}</th>
                          <th scope="row"><a href="https://localhost/Projeto_PHP_OO/index.php?pagina=produto&metodo=singleCar&id={{car.id_carrinho}}" class="btn btn-secondary">Editar</a></th>
                          <th scope="row"><a href="https://localhost/Projeto_PHP_OO/index.php?pagina=produto&metodo=deleteCar&id={{car.id_carrinho}}" class="btn btn-danger">Deletar</a></th>
                        </tr>
                      </tbody>
                    {% endfor %}
                  </table>
            </header>
        </article>
</section>