<form method="POST" action="https://localhost/Projeto_PHP_OO/index.php?pagina=pedido&metodo=criarPedido">
    <div class="form-group">
        <label for="pedido">Número do pedido</label>
        <input name="numero" type="text" class="form-control" id="pedido" aria-describedby="emailHelp" placeholder="Escreva o número aqui, esse número será utilizado depois para pesquisa...">
    </div>
    <div class="form-group col-md-4">
      <label for="inputEstado">CPF do cliente</label>
      <select id="inputEstado" name="cpf" class="form-control">
      <option selected>Escolher...</option>
      {% for cliente in clientes %}
          <option>{{cliente.cpf}}</option>
      {% endfor %}
      </select>
    </div>
    <fieldset class="form-group">
      <div class="form-group col-md-4">
          <label for="inputEstado">Forma de pagamento</label>
          <select id="inputEstado" name="forma" class="form-control">
          <option selected>Escolher...</option>
              <option>Débito</option>
              <option>Crédito</option>
              <option>Dinheiro</option>
          </select>
      </div>
    </fieldset>
    <br>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Iniciar</button>
      </div>
    </div>
</form>