<form method="POST" action="https://localhost/Projeto_PHP_OO/index.php?pagina=pedido&metodo=criar">
    <div class="form-group row">
      <label for="forma" class="col-sm-2 col-form-label">Número do pedido</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="forma" placeholder="Número do pedido">
      </div>
    </div>

    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Forma de pagamento</legend>
        <div class="col-sm-10">
             <div class="form-check">
                <input class="form-check-input" type="radio" name="credito" id="credito" value="Crédito">
                <label class="form-check-label" for="credito">
                  Crédito
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="debito" id="debito" value="Débito">
                <label class="form-check-label" for="debito">
                  Débito
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="dinheiro" id="dinheiro" value="Dinheiro">
                <label class="form-check-label" for="dinheiro">
                  Dinheiro
                </label>
            </div>
        </div>
      </div>
    </fieldset>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Iniciar</button>
      </div>
    </div>
</form>