<section>
  <h1>Pedidos realizados: </h1>
      <article>
          <header>
              <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col"># Número do pedido</th>
                    </tr>
                  </thead>
                  {% for pedido in pedidos %}
                    <tbody>
                      <tr>
                        <th scope="row"><a href="index.php?pagina=pedido&metodo=single&id={{pedido.id_pedido}}" style="text-decoration:none; color: black;">{{pedido.numero_pdd}}</a></th>
                      </tr>
                    </tbody>
                  {% endfor %}
                </table>
          </header>
      </article>
</section>
