<form >
    <div class="form-group col-md-6">
        <label for="inputName">Nome do produto</label>
        <input type="text" class="form-control" id="inputName" placeholder="Nome do produto">
    </div>
    <div class="form-group col-md-6">
        <label for="inputName2">Nome do produto</label>
        <input type="text" class="form-control" id="inputName2" placeholder="Nome do produto">
    </div>
    <div class="form-group col-md-4">
        <label for="inputEstado">Categoria</label>
        <select id="inputEstado" class="form-control">
        <option selected>Escolher...</option>
            <option>Limpeza</option>
            <option>Higiene Pessoal</option>
            <option>Bebidas</option>
            <option>Carnes e frios</option>
            <option>Frutas e legumes</option>
            <option>Pet</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlFile1">Imagem do produto</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <div class="form-group col-md-6">
        <label for="inputQtd">Quantidade</label>
        <input type="number" class="form-control" id="inputQtd" placeholder="Quantidade" min="1" >
    </div>
    <button type="submit" class="btn btn-success">Cadastrar</button>
</form>