<form action="https://localhost/Projeto_PHP_OO/index.php?pagina=produto&metodo=register" method="POST">
    <div class="form-group col-md-6">
        <label for="inputName2">Nome do produto</label>
        <input type="text" class="form-control" id="inputName2" name="nome" placeholder="Nome do produto">
    </div>
    <div class="form-group col-md-4">
        <label for="inputEstado">Categoria</label>
        <select id="inputEstado" name="categoria" class="form-control">
        <option selected>Escolher...</option>
            <option>Limpeza</option>
            <option>Higiene Pessoal</option>
            <option>Bebidas</option>
            <option>Carnes e frios</option>
            <option>Frutas e legumes</option>
            <option>Pet</option>
            <option>Outros</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlFile1">Imagem do produto</label>
        <input type="file" class="form-control-file" name="imagem" id="exampleFormControlFile1">
    </div>
    <div class="form-group col-md-6">
        <label for="inputQtd">Quantidade</label>
        <input type="number" class="form-control" id="inputQtd" name="quantidade" placeholder="Quantidade" min="1" >
    </div>
    <br>
    <button type="submit" class="btn btn-success">Cadastrar</button>
</form>
