
    <div class="container2">
        <h2><img src="../../assets/img/logo.png" alt="">Cadastro de funcionário</h2>
        <form action="https://localhost/Projeto_PHP_OO/index.php?pagina=login&metodo=cadastraFunc" method="POST">
            <div class="form-group">
                <label for="nome">Nome completo</label>
                <input type="text" class="form-control" id="nome" name="nome" aria-describedby="emailHelp" placeholder="Seu nome...">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Senha</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="senha" placeholder="Senha">
            </div>
            <div class="form-group">
                <label for="credencial">Credencial</label>
                <input type="text" class="form-control" id="credencial" name="credencial" aria-describedby="emailHelp" placeholder="Sua credencial...">
            </div>
            <div class="form-group">
                <label for="cpf">CPF</label>
                <input type="text" class="form-control" id="cpf" name="cpf" aria-describedby="emailHelp" placeholder="Seu CPF...">
            </div>
            <div class="form-group col-md-4">
                <label for="inputEstado">Tipo de funcionário</label>
                <select id="inputEstado" name="tipo" class="form-control">
                <option selected>Escolher...</option>
                    <option>Gerente</option>
                    <option>Operador de caixa</option>
                </select>
            </div>
            <br>
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </form>
    </div>
