<div class="container2" style="padding: 10px; text-align: center;"> 
    <a href="https://localhost/Projeto_PHP_OO/index.php?pagina=pedido&metodo=carrinhoView" class="btn btn-secondary">Produtos já adicionados ao carrinho.</a>
</div>
{% for produto in produtos %}
    <form action="https://localhost/Projeto_PHP_OO/index.php?pagina=pedido&metodo=addCarrinho" method="POST">
        <div class="card d-inline p-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{produto.nome}} - R$ {{produto.valor_und}} UND/KG</h5>
                <input type="hidden" name="categoria" id="categoria" value="{{produto.categoria}}">
                <input type="hidden" name="preco" id="preco" value="{{produto.valor_und}}">
                <input type="hidden" name="nome" id="name" value="{{produto.nome}}">
                <input type="number" name="qtd" placeholder="{{produto.quantidade}}" min="0" max="{{produto.quantidade}}">
                <button type="submit" class="btn btn-secondary">Adicionar</button>
            </div>
        </div>
    </form>
{% endfor %}
<div class="container2" style="padding: 10px; text-align: center;">
    <a href="https://localhost/Projeto_PHP_OO/index.php?pagina=pedido&metodo=finalizarPdd" style="margin-left: 210px;" class="btn btn-secondary">Finalizar</a>
    <a href="https://localhost/Projeto_PHP_OO/index.php?pagina=pedido&metodo=cancelarPdd" style="float: right; margin-right: 80px;" class="btn btn-danger">Cancelar pedido</a>
</div>