{% for single in singles %}
    <form action="index.php?pagina=produto&metodo=update" method="POST">

        <input type="hidden" name="id" id="id" value="{{single.id}}">
        <div class="form-group col-md-6">
            <label for="inputName2">Nome do produto</label>
            <input name="nome" required type="text" class="form-control" id="inputName2" placeholder="{{single.nome}}">
        </div>
        <div class="form-group col-md-6">
            <label for="inputName3">Categoria do produto</label>
            <input name="categoria" required type="text" class="form-control" id="inputName3" placeholder="{{single.categoria}}">
        </div>
        <div class="form-group col-md-6">
            <label for="inputQtd">Quantidade</label>
            <input name="quantidade" required type="number" class="form-control" id="inputQtd" min="1" placeholder="{{single.quantidade}}">
        </div>
        <div class="form-group col-md-6">
            <label for="inputVlr">Valor</label>
            <input name="valor" required type="number" class="form-control" step="any" id="inputVlr" placeholder="{{single.valor_und}}">
        </div>
        <br>
        <button type="submit" class="btn btn-success">Editar</button>

    </form>
{% endfor %}