{% for single in singles %}
  <form action="https://localhost/Projeto_PHP_OO/index.php?pagina=cliente&metodo=atualizarDados" method="POST"> 
      <h5>Em caso de atualização de dados, o preenchimento de todos os campos é obrigatório.</h5>
      <br>
      <input type="hidden" name="id" id="id" value="{{single.id_cliente}}">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="nome">Nome completo</label>
          <input name="nome" type="text" class="form-control" id="nome" placeholder="{{single.nome}}">
        </div>
        <div class="form-group col-md-6">
          <label for="cpf">CPF</label>
          <input name="cpf" type="text" class="form-control" id="cpf" placeholder="{{single.cpf}}">
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input name="email" type="email" class="form-control" id="inputEmail4" placeholder="{{single.email}}">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Endereço</label>
        <input name="endereco" type="text" class="form-control" id="inputAddress" placeholder="{{single.endereço}}">
      </div>
      <div class="form-group">
        <label for="inputAddress2">Telefone</label>
        <input name="telefone" type="tel" class="form-control" id="inputTel" pattern="^\d{5}-\d{4}$" placeholder="{{single.telefone}}">
      </div>
      <div class="form-group col-md-2">
      <label for="inputCEP">CEP</label>
      <input name="cep" type="text" class="form-control" id="inputCEP" placeholder="{{single.cep}}">
      </div>
      <br>
      <button type="submit" class="btn btn-success">Atualizar</button>
      <br>
  </form>
{% endfor %}
<br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Pedidos realizados</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">#####</th>
    </tr>
  </tbody>
</table>