<div class="container2"> 
    <h3>Precisa da credencial de um gerente.</h3>
    <form method="POST" action="https://localhost/Projeto_PHP_OO/index.php?pagina=login&metodo=checkGerente">
        <div class="form-group">
            <label for="credencial">Credencial do gerente</label>
            <input required name="credencial" type="text" class="form-control" id="credencial" aria-describedby="emailHelp" placeholder="Sua credencial aqui...">
        </div>
        <br>
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
</div>